node-red-UI-v02.json
[
    {
        "id": "75782438c74014dc",
        "type": "tab",
        "label": "smart sole",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ff097f245986969f",
        "type": "junction",
        "z": "75782438c74014dc",
        "x": 1675.0743980407715,
        "y": 936.7499656677246,
        "wires": [
            [
                "c93bdfea9af02406",
                "b9343c219f7013b4",
                "1a12cba48e5f89ff",
                "f62d9b5799840431",
                "335e6e01d0df3177",
                "4af91013da180150"
            ]
        ]
    },
    {
        "id": "98e7b5cdf345a8b3",
        "type": "inject",
        "z": "75782438c74014dc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "rgb(0, 191, 255)",
        "payload": "{\"command\":\"update_style\",\"selector\":\"#circle13543\",\"attributeName\":\"fill\",\"attributeValue\":\"rgb(0, 191, 255)\"}",
        "payloadType": "json",
        "x": 1060.1428833007812,
        "y": 566.952392578125,
        "wires": [
            [
                "25ee6296fa00480c"
            ]
        ]
    },
    {
        "id": "25ee6296fa00480c",
        "type": "template",
        "z": "75782438c74014dc",
        "name": "color grf 8",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{    \n \"command\": \"update_style\",\n \"selector\": \"#circle13543\",\n \"attributeName\": \"fill\",\n \"attributeValue\": \"{{payload}}\"\n}\n",
        "output": "json",
        "x": 1272.476318359375,
        "y": 763.3333129882812,
        "wires": [
            [
                "d13de7ef8f60fde4",
                "276739a932fbd730"
            ]
        ]
    },
    {
        "id": "ea075121141cf0fa",
        "type": "inject",
        "z": "75782438c74014dc",
        "name": "sole",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"gfrValue8\":1072,\"gfrValue7\":4095,\"gfrValue6\":4095,\"gfrValue5\":4095,\"gfrValue4\":4095,\"gfrValue3\":4095,\"gfrValue2\":4095,\"gfrValue1\":4095}",
        "payloadType": "json",
        "x": 303.33336639404297,
        "y": 191.4285659790039,
        "wires": [
            [
                "130cbfce5b8963a6"
            ]
        ]
    },
    {
        "id": "130cbfce5b8963a6",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.gfrValue8",
                "pt": "msg",
                "to": "$random()",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 331.33335876464844,
        "y": 236.09522247314453,
        "wires": [
            []
        ]
    },
    {
        "id": "edbceac826379e2c",
        "type": "debug",
        "z": "75782438c74014dc",
        "name": "debug 64",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 745.1905517578125,
        "y": 691.6190185546875,
        "wires": []
    },
    {
        "id": "1bdeb0253676c0d2",
        "type": "range",
        "z": "75782438c74014dc",
        "minin": "0",
        "maxin": "4096",
        "minout": "11",
        "maxout": "1",
        "action": "roll",
        "round": true,
        "property": "payload",
        "name": "",
        "x": 732.3333129882812,
        "y": 741,
        "wires": [
            [
                "edbceac826379e2c",
                "8076991575e089e5"
            ]
        ]
    },
    {
        "id": "0f16fa9405d19e69",
        "type": "comment",
        "z": "75782438c74014dc",
        "name": "fake plausible data",
        "info": "",
        "x": 324.33334859212226,
        "y": 148.09523264567048,
        "wires": []
    },
    {
        "id": "d13de7ef8f60fde4",
        "type": "debug",
        "z": "75782438c74014dc",
        "name": "debug 65",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1357.1429443359375,
        "y": 873,
        "wires": []
    },
    {
        "id": "8076991575e089e5",
        "type": "switch",
        "z": "75782438c74014dc",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "6",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "7",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "8",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "9",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "10",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "11",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 11,
        "x": 887.8572387695312,
        "y": 761.2857055664062,
        "wires": [
            [
                "e0945b25472a45ea"
            ],
            [
                "3539b280475ddf7a"
            ],
            [
                "eaddbfea4315d1be"
            ],
            [
                "7de438593e302972"
            ],
            [
                "e91232afe1a90ca0"
            ],
            [
                "19fc8a1744da43a9"
            ],
            [
                "3f0b978d7f7fd8c3"
            ],
            [
                "5acf041e7efb6551"
            ],
            [
                "a845c38fa1d99422"
            ],
            [
                "79a01efadf39239b"
            ],
            [
                "6cea07475f3c43ef"
            ]
        ]
    },
    {
        "id": "e0945b25472a45ea",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "color 1",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "rgb(  0,   0, 255)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1063.857177734375,
        "y": 615.952392578125,
        "wires": [
            [
                "25ee6296fa00480c"
            ]
        ]
    },
    {
        "id": "3539b280475ddf7a",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "color 2",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "rgb(  0,  50, 204)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1064.523780822754,
        "y": 649.952392578125,
        "wires": [
            [
                "25ee6296fa00480c"
            ]
        ]
    },
    {
        "id": "eaddbfea4315d1be",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "color 3",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "rgb(  0, 101, 153)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1064.5238609313965,
        "y": 684.6190185546875,
        "wires": [
            [
                "25ee6296fa00480c"
            ]
        ]
    },
    {
        "id": "7de438593e302972",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "color 4",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "rgb(  0, 153, 101)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1065.1904678344727,
        "y": 718.6190185546875,
        "wires": [
            [
                "25ee6296fa00480c"
            ]
        ]
    },
    {
        "id": "e91232afe1a90ca0",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "color 5",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "rgb(  0, 204,  50)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1065.8570709228516,
        "y": 752.6190185546875,
        "wires": [
            [
                "25ee6296fa00480c"
            ]
        ]
    },
    {
        "id": "19fc8a1744da43a9",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "color 6 ",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "rgb(  0, 255,   0)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1065.8571510314941,
        "y": 787.28564453125,
        "wires": [
            [
                "25ee6296fa00480c"
            ]
        ]
    },
    {
        "id": "3f0b978d7f7fd8c3",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "color 7 ",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "rgb( 51, 203,   0)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1068.5238418579102,
        "y": 820.6190185546875,
        "wires": [
            [
                "25ee6296fa00480c"
            ]
        ]
    },
    {
        "id": "5acf041e7efb6551",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "color 8",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "rgb(102, 152,   0)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1069.190444946289,
        "y": 854.6190185546875,
        "wires": [
            [
                "25ee6296fa00480c"
            ]
        ]
    },
    {
        "id": "a845c38fa1d99422",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "color 9",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "rgb(153, 101,   0)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1069.1905250549316,
        "y": 889.28564453125,
        "wires": [
            [
                "25ee6296fa00480c"
            ]
        ]
    },
    {
        "id": "79a01efadf39239b",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "color 10",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "rgb(203,  51,   0)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1082.5238418579102,
        "y": 923.2857055664062,
        "wires": [
            [
                "25ee6296fa00480c"
            ]
        ]
    },
    {
        "id": "6cea07475f3c43ef",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "color 11",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "rgb(255,   0,   0)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1082.5239219665527,
        "y": 957.9523315429688,
        "wires": [
            [
                "25ee6296fa00480c"
            ]
        ]
    },
    {
        "id": "1c53c1f32fb54895",
        "type": "serial in",
        "z": "75782438c74014dc",
        "name": "",
        "serial": "1a86fe1f19572621",
        "x": 238,
        "y": 404.0000457763672,
        "wires": [
            [
                "3edd32f9ea4922d0"
            ]
        ]
    },
    {
        "id": "3edd32f9ea4922d0",
        "type": "json",
        "z": "75782438c74014dc",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 395,
        "y": 364.00003814697266,
        "wires": [
            [
                "b18658ddfe6f16bc",
                "639a7ff841dfcbd3"
            ]
        ]
    },
    {
        "id": "156b829ea5c2ea92",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "gfrValue8 > payload",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.gfrValue8",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 519,
        "y": 741,
        "wires": [
            [
                "1bdeb0253676c0d2"
            ]
        ]
    },
    {
        "id": "b18658ddfe6f16bc",
        "type": "debug",
        "z": "75782438c74014dc",
        "name": "debug 67",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 478.00000762939453,
        "y": 434.000036239624,
        "wires": []
    },
    {
        "id": "ccfcf288a388b63b",
        "type": "inject",
        "z": "75782438c74014dc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "rgb(0, 191, 255)",
        "payload": "{\"command\":\"update_style\",\"selector\":\"#circle13543\",\"attributeName\":\"fill\",\"attributeValue\":\"rgb(0, 191, 255)\"}",
        "payloadType": "json",
        "x": 1078,
        "y": 1061,
        "wires": [
            [
                "479489bd11d5db15"
            ]
        ]
    },
    {
        "id": "479489bd11d5db15",
        "type": "template",
        "z": "75782438c74014dc",
        "name": "color grf 7",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{    \n \"command\": \"update_style\",\n \"selector\": \"#circle13545\",\n \"attributeName\": \"fill\",\n \"attributeValue\": \"{{payload}}\"\n}\n",
        "output": "json",
        "x": 1290.3334350585938,
        "y": 1257.3809204101562,
        "wires": [
            [
                "4aca2208d2191fdb"
            ]
        ]
    },
    {
        "id": "4163c2b8f21ebaa5",
        "type": "debug",
        "z": "75782438c74014dc",
        "name": "debug 69",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 763.0476684570312,
        "y": 1185.6666259765625,
        "wires": []
    },
    {
        "id": "6a229f868a1f9a59",
        "type": "range",
        "z": "75782438c74014dc",
        "minin": "0",
        "maxin": "4096",
        "minout": "11",
        "maxout": "1",
        "action": "roll",
        "round": true,
        "property": "payload",
        "name": "",
        "x": 750.1904296875,
        "y": 1235.047607421875,
        "wires": [
            [
                "4163c2b8f21ebaa5",
                "44d4b7d87150d7d7"
            ]
        ]
    },
    {
        "id": "44d4b7d87150d7d7",
        "type": "switch",
        "z": "75782438c74014dc",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "6",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "7",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "8",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "9",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "10",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "11",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 11,
        "x": 905.71435546875,
        "y": 1255.3333129882812,
        "wires": [
            [
                "0de2a5c2c31a4acc"
            ],
            [
                "ef44bd47c77dec67"
            ],
            [
                "b3804576d462fb0a"
            ],
            [
                "a001703a953b020b"
            ],
            [
                "2b2b1d974ef454ff"
            ],
            [
                "fd8ba5a3f0d15254"
            ],
            [
                "de85d2a770d1c6c1"
            ],
            [
                "8d2761acab54f489"
            ],
            [
                "36073b63c36cecf3"
            ],
            [
                "a75670e441bc7a15"
            ],
            [
                "c62bb158a1d33cb2"
            ]
        ]
    },
    {
        "id": "0de2a5c2c31a4acc",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "color 1",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "rgb(  0,   0, 255)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1081.7142944335938,
        "y": 1110,
        "wires": [
            [
                "479489bd11d5db15"
            ]
        ]
    },
    {
        "id": "ef44bd47c77dec67",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "color 2",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "rgb(  0,  50, 204)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1082.3808975219727,
        "y": 1144,
        "wires": [
            [
                "479489bd11d5db15"
            ]
        ]
    },
    {
        "id": "b3804576d462fb0a",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "color 3",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "rgb(  0, 101, 153)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1082.3809776306152,
        "y": 1178.6666259765625,
        "wires": [
            [
                "479489bd11d5db15"
            ]
        ]
    },
    {
        "id": "a001703a953b020b",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "color 4",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "rgb(  0, 153, 101)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1083.0475845336914,
        "y": 1212.6666259765625,
        "wires": [
            [
                "479489bd11d5db15"
            ]
        ]
    },
    {
        "id": "2b2b1d974ef454ff",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "color 5",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "rgb(  0, 204,  50)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1083.7141876220703,
        "y": 1246.6666259765625,
        "wires": [
            [
                "479489bd11d5db15"
            ]
        ]
    },
    {
        "id": "fd8ba5a3f0d15254",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "color 6 ",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "rgb(  0, 255,   0)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1083.714267730713,
        "y": 1281.333251953125,
        "wires": [
            [
                "479489bd11d5db15"
            ]
        ]
    },
    {
        "id": "de85d2a770d1c6c1",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "color 7 ",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "rgb( 51, 203,   0)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1086.380958557129,
        "y": 1314.6666259765625,
        "wires": [
            [
                "479489bd11d5db15"
            ]
        ]
    },
    {
        "id": "8d2761acab54f489",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "color 8",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "rgb(102, 152,   0)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1087.0475616455078,
        "y": 1348.6666259765625,
        "wires": [
            [
                "479489bd11d5db15"
            ]
        ]
    },
    {
        "id": "36073b63c36cecf3",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "color 9",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "rgb(153, 101,   0)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1087.0476417541504,
        "y": 1383.333251953125,
        "wires": [
            [
                "479489bd11d5db15"
            ]
        ]
    },
    {
        "id": "a75670e441bc7a15",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "color 10",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "rgb(203,  51,   0)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100.380958557129,
        "y": 1417.3333129882812,
        "wires": [
            [
                "479489bd11d5db15"
            ]
        ]
    },
    {
        "id": "c62bb158a1d33cb2",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "color 11",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "rgb(255,   0,   0)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100.3810386657715,
        "y": 1451.9999389648438,
        "wires": [
            [
                "479489bd11d5db15"
            ]
        ]
    },
    {
        "id": "dd029646b0f74e3d",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "gfrValue7 > payload",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.gfrValue7",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 536.8571166992188,
        "y": 1235.047607421875,
        "wires": [
            [
                "6a229f868a1f9a59"
            ]
        ]
    },
    {
        "id": "1aeac951c51aadcd",
        "type": "comment",
        "z": "75782438c74014dc",
        "name": "What Does this do? ",
        "info": "We receive the COM28 and send it to all the different svg circles and IMU Visualization\n\ngrf8 --> #circle13543\ngrf7 --> #circle13545\ngrf6 --> #circle13547\ngrf5 --> #circle13549\ngrf4 --> #circle13551\ngrf3 --> #circle13553\ngrf2 --> #circle13555\ngrf1 --> #circle13557",
        "x": 307.5,
        "y": 301.00003814697266,
        "wires": []
    },
    {
        "id": "dead0665011d09b1",
        "type": "link in",
        "z": "75782438c74014dc",
        "name": "grf8",
        "links": [
            "639a7ff841dfcbd3"
        ],
        "x": 385,
        "y": 742,
        "wires": [
            [
                "156b829ea5c2ea92",
                "4486b3224f468c15"
            ]
        ]
    },
    {
        "id": "639a7ff841dfcbd3",
        "type": "link out",
        "z": "75782438c74014dc",
        "name": "Json in Serial",
        "mode": "link",
        "links": [
            "dead0665011d09b1",
            "2b98b813df161ea8",
            "b1d72ec5aa2b8b39",
            "1dfb7701e7586686",
            "93c72a03c066edf8",
            "49b8e3004ca9453f",
            "017f4541358c8de0",
            "82928a86b1f33b47",
            "45cc39ba0d9fd8ad"
        ],
        "x": 497,
        "y": 363.00003814697266,
        "wires": []
    },
    {
        "id": "2b98b813df161ea8",
        "type": "link in",
        "z": "75782438c74014dc",
        "name": "grf7",
        "links": [
            "639a7ff841dfcbd3"
        ],
        "x": 402,
        "y": 1235,
        "wires": [
            [
                "dd029646b0f74e3d",
                "9ddcf6eaa400c686"
            ]
        ]
    },
    {
        "id": "276739a932fbd730",
        "type": "link out",
        "z": "75782438c74014dc",
        "name": "toSVG",
        "mode": "link",
        "links": [
            "57e23afdab309308",
            "daf6e5724a54ebf4"
        ],
        "x": 1380,
        "y": 763,
        "wires": []
    },
    {
        "id": "4aca2208d2191fdb",
        "type": "link out",
        "z": "75782438c74014dc",
        "name": "toSVG",
        "mode": "link",
        "links": [
            "57e23afdab309308",
            "daf6e5724a54ebf4"
        ],
        "x": 1386,
        "y": 1256,
        "wires": []
    },
    {
        "id": "57e23afdab309308",
        "type": "link in",
        "z": "75782438c74014dc",
        "name": "svg",
        "links": [
            "276739a932fbd730",
            "4aca2208d2191fdb",
            "30f0393138bed8fa",
            "33b94094a6a68750",
            "6deb4a8665864bab",
            "0952326965fa40ed",
            "a371cc91a8cee545",
            "5d24bc85af31d3eb"
        ],
        "x": 1526,
        "y": 657,
        "wires": [
            [
                "2f59adc8d6700d0b"
            ]
        ]
    },
    {
        "id": "9e2bcb59d7597413",
        "type": "inject",
        "z": "75782438c74014dc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "rgb(0, 191, 255)",
        "payload": "{\"command\":\"update_style\",\"selector\":\"#circle13543\",\"attributeName\":\"fill\",\"attributeValue\":\"rgb(0, 191, 255)\"}",
        "payloadType": "json",
        "x": 1079,
        "y": 1552,
        "wires": [
            [
                "97170cabf10cef00"
            ]
        ]
    },
    {
        "id": "97170cabf10cef00",
        "type": "template",
        "z": "75782438c74014dc",
        "name": "color grf 6",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{    \n \"command\": \"update_style\",\n \"selector\": \"#circle13547\",\n \"attributeName\": \"fill\",\n \"attributeValue\": \"{{payload}}\"\n}\n",
        "output": "json",
        "x": 1291.3334350585938,
        "y": 1748.3809204101562,
        "wires": [
            [
                "30f0393138bed8fa"
            ]
        ]
    },
    {
        "id": "7d05d2234ea341de",
        "type": "debug",
        "z": "75782438c74014dc",
        "name": "debug 70",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 764.0476684570312,
        "y": 1676.6666259765625,
        "wires": []
    },
    {
        "id": "e672d44d82264b45",
        "type": "range",
        "z": "75782438c74014dc",
        "minin": "0",
        "maxin": "4096",
        "minout": "11",
        "maxout": "1",
        "action": "roll",
        "round": true,
        "property": "payload",
        "name": "",
        "x": 751.1904296875,
        "y": 1726.047607421875,
        "wires": [
            [
                "7d05d2234ea341de",
                "b8fed77bfc55f143"
            ]
        ]
    },
    {
        "id": "b8fed77bfc55f143",
        "type": "switch",
        "z": "75782438c74014dc",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "6",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "7",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "8",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "9",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "10",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "11",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 11,
        "x": 906.71435546875,
        "y": 1746.3333129882812,
        "wires": [
            [
                "ddaf3dfeece53274"
            ],
            [
                "9e120691de212471"
            ],
            [
                "e8e0472d7b704273"
            ],
            [
                "296c964f9312180c"
            ],
            [
                "996347112929a03a"
            ],
            [
                "44628fe0f6267118"
            ],
            [
                "d9eb9da5609feb59"
            ],
            [
                "673dcd72b33b1acb"
            ],
            [
                "76d7e10b1203aae2"
            ],
            [
                "dabfa98b95483b12"
            ],
            [
                "db11f81e593c7a93"
            ]
        ]
    },
    {
        "id": "ddaf3dfeece53274",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "color 1",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "rgb(  0,   0, 255)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1082.7142944335938,
        "y": 1601,
        "wires": [
            [
                "97170cabf10cef00"
            ]
        ]
    },
    {
        "id": "9e120691de212471",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "color 2",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "rgb(  0,  50, 204)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1083.3808975219727,
        "y": 1635,
        "wires": [
            [
                "97170cabf10cef00"
            ]
        ]
    },
    {
        "id": "e8e0472d7b704273",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "color 3",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "rgb(  0, 101, 153)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1083.3809776306152,
        "y": 1669.6666259765625,
        "wires": [
            [
                "97170cabf10cef00"
            ]
        ]
    },
    {
        "id": "296c964f9312180c",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "color 4",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "rgb(  0, 153, 101)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1084.0475845336914,
        "y": 1703.6666259765625,
        "wires": [
            [
                "97170cabf10cef00"
            ]
        ]
    },
    {
        "id": "996347112929a03a",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "color 5",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "rgb(  0, 204,  50)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1084.7141876220703,
        "y": 1737.6666259765625,
        "wires": [
            [
                "97170cabf10cef00"
            ]
        ]
    },
    {
        "id": "44628fe0f6267118",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "color 6 ",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "rgb(  0, 255,   0)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1084.714267730713,
        "y": 1772.333251953125,
        "wires": [
            [
                "97170cabf10cef00"
            ]
        ]
    },
    {
        "id": "d9eb9da5609feb59",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "color 7 ",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "rgb( 51, 203,   0)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1087.380958557129,
        "y": 1805.6666259765625,
        "wires": [
            [
                "97170cabf10cef00"
            ]
        ]
    },
    {
        "id": "673dcd72b33b1acb",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "color 8",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "rgb(102, 152,   0)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1088.0475616455078,
        "y": 1839.6666259765625,
        "wires": [
            [
                "97170cabf10cef00"
            ]
        ]
    },
    {
        "id": "76d7e10b1203aae2",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "color 9",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "rgb(153, 101,   0)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1088.0476417541504,
        "y": 1874.333251953125,
        "wires": [
            [
                "97170cabf10cef00"
            ]
        ]
    },
    {
        "id": "dabfa98b95483b12",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "color 10",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "rgb(203,  51,   0)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1101.380958557129,
        "y": 1908.3333129882812,
        "wires": [
            [
                "97170cabf10cef00"
            ]
        ]
    },
    {
        "id": "db11f81e593c7a93",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "color 11",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "rgb(255,   0,   0)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1101.3810386657715,
        "y": 1942.9999389648438,
        "wires": [
            [
                "97170cabf10cef00"
            ]
        ]
    },
    {
        "id": "81bb42c5d8768949",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "gfrValue6 > payload",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.gfrValue6",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 537.8571166992188,
        "y": 1726.047607421875,
        "wires": [
            [
                "e672d44d82264b45"
            ]
        ]
    },
    {
        "id": "b1d72ec5aa2b8b39",
        "type": "link in",
        "z": "75782438c74014dc",
        "name": "grf7",
        "links": [
            "639a7ff841dfcbd3"
        ],
        "x": 403,
        "y": 1726,
        "wires": [
            [
                "81bb42c5d8768949",
                "1b26b1b33fae43af"
            ]
        ]
    },
    {
        "id": "30f0393138bed8fa",
        "type": "link out",
        "z": "75782438c74014dc",
        "name": "toSVG",
        "mode": "link",
        "links": [
            "57e23afdab309308",
            "daf6e5724a54ebf4"
        ],
        "x": 1387,
        "y": 1747,
        "wires": []
    },
    {
        "id": "374e22e3d90c1592",
        "type": "inject",
        "z": "75782438c74014dc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "rgb(0, 191, 255)",
        "payload": "{\"command\":\"update_style\",\"selector\":\"#circle13543\",\"attributeName\":\"fill\",\"attributeValue\":\"rgb(0, 191, 255)\"}",
        "payloadType": "json",
        "x": 1099,
        "y": 2027,
        "wires": [
            [
                "482cfbb75d76a469"
            ]
        ]
    },
    {
        "id": "482cfbb75d76a469",
        "type": "template",
        "z": "75782438c74014dc",
        "name": "color grf 5",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{    \n \"command\": \"update_style\",\n \"selector\": \"#circle13549\",\n \"attributeName\": \"fill\",\n \"attributeValue\": \"{{payload}}\"\n}\n",
        "output": "json",
        "x": 1311.3334350585938,
        "y": 2223.3809204101562,
        "wires": [
            [
                "33b94094a6a68750"
            ]
        ]
    },
    {
        "id": "a4f1dad941d192c6",
        "type": "debug",
        "z": "75782438c74014dc",
        "name": "debug 71",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 784.0476684570312,
        "y": 2151.6666259765625,
        "wires": []
    },
    {
        "id": "61dbf351e2b54e2d",
        "type": "range",
        "z": "75782438c74014dc",
        "minin": "0",
        "maxin": "4096",
        "minout": "11",
        "maxout": "1",
        "action": "roll",
        "round": true,
        "property": "payload",
        "name": "",
        "x": 771.1904296875,
        "y": 2201.047607421875,
        "wires": [
            [
                "a4f1dad941d192c6",
                "3e7932119490afe7"
            ]
        ]
    },
    {
        "id": "3e7932119490afe7",
        "type": "switch",
        "z": "75782438c74014dc",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "6",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "7",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "8",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "9",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "10",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "11",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 11,
        "x": 926.71435546875,
        "y": 2221.3333129882812,
        "wires": [
            [
                "f56ce7a6b0005cb6"
            ],
            [
                "fbe35e5f2cabec66"
            ],
            [
                "5a8a2d9a17e22684"
            ],
            [
                "9d91a49ce52c9724"
            ],
            [
                "086fdcf86b81ae4e"
            ],
            [
                "6c792b85fa88b3d9"
            ],
            [
                "6afe2e466faa5e9c"
            ],
            [
                "d7dbc4b9ac550df5"
            ],
            [
                "a4f2277bcca31737"
            ],
            [
                "9b18f5b84ec0b517"
            ],
            [
                "65ac72a10e6b4010"
            ]
        ]
    },
    {
        "id": "f56ce7a6b0005cb6",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "color 1",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "rgb(  0,   0, 255)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1102.7142944335938,
        "y": 2076,
        "wires": [
            [
                "482cfbb75d76a469"
            ]
        ]
    },
    {
        "id": "fbe35e5f2cabec66",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "color 2",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "rgb(  0,  50, 204)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1103.3808975219727,
        "y": 2110,
        "wires": [
            [
                "482cfbb75d76a469"
            ]
        ]
    },
    {
        "id": "5a8a2d9a17e22684",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "color 3",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "rgb(  0, 101, 153)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1103.3809776306152,
        "y": 2144.6666259765625,
        "wires": [
            [
                "482cfbb75d76a469"
            ]
        ]
    },
    {
        "id": "9d91a49ce52c9724",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "color 4",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "rgb(  0, 153, 101)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1104.0475845336914,
        "y": 2178.6666259765625,
        "wires": [
            [
                "482cfbb75d76a469"
            ]
        ]
    },
    {
        "id": "086fdcf86b81ae4e",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "color 5",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "rgb(  0, 204,  50)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1104.7141876220703,
        "y": 2212.6666259765625,
        "wires": [
            [
                "482cfbb75d76a469"
            ]
        ]
    },
    {
        "id": "6c792b85fa88b3d9",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "color 6 ",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "rgb(  0, 255,   0)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1104.714267730713,
        "y": 2247.333251953125,
        "wires": [
            [
                "482cfbb75d76a469"
            ]
        ]
    },
    {
        "id": "6afe2e466faa5e9c",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "color 7 ",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "rgb( 51, 203,   0)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1107.380958557129,
        "y": 2280.6666259765625,
        "wires": [
            [
                "482cfbb75d76a469"
            ]
        ]
    },
    {
        "id": "d7dbc4b9ac550df5",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "color 8",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "rgb(102, 152,   0)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1108.0475616455078,
        "y": 2314.6666259765625,
        "wires": [
            [
                "482cfbb75d76a469"
            ]
        ]
    },
    {
        "id": "a4f2277bcca31737",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "color 9",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "rgb(153, 101,   0)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1108.0476417541504,
        "y": 2349.333251953125,
        "wires": [
            [
                "482cfbb75d76a469"
            ]
        ]
    },
    {
        "id": "9b18f5b84ec0b517",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "color 10",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "rgb(203,  51,   0)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1121.380958557129,
        "y": 2383.3333129882812,
        "wires": [
            [
                "482cfbb75d76a469"
            ]
        ]
    },
    {
        "id": "65ac72a10e6b4010",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "color 11",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "rgb(255,   0,   0)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1121.3810386657715,
        "y": 2417.9999389648438,
        "wires": [
            [
                "482cfbb75d76a469"
            ]
        ]
    },
    {
        "id": "e2dfc769cce99a17",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "gfrValue5 > payload",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.gfrValue5",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 557.8571166992188,
        "y": 2201.047607421875,
        "wires": [
            [
                "61dbf351e2b54e2d"
            ]
        ]
    },
    {
        "id": "1dfb7701e7586686",
        "type": "link in",
        "z": "75782438c74014dc",
        "name": "grf7",
        "links": [
            "639a7ff841dfcbd3"
        ],
        "x": 423,
        "y": 2201,
        "wires": [
            [
                "e2dfc769cce99a17",
                "a86b91fcaa3ad0bb"
            ]
        ]
    },
    {
        "id": "33b94094a6a68750",
        "type": "link out",
        "z": "75782438c74014dc",
        "name": "toSVG",
        "mode": "link",
        "links": [
            "57e23afdab309308",
            "daf6e5724a54ebf4"
        ],
        "x": 1407,
        "y": 2222,
        "wires": []
    },
    {
        "id": "15c3d642867e2933",
        "type": "inject",
        "z": "75782438c74014dc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "rgb(0, 191, 255)",
        "payload": "{\"command\":\"update_style\",\"selector\":\"#circle13543\",\"attributeName\":\"fill\",\"attributeValue\":\"rgb(0, 191, 255)\"}",
        "payloadType": "json",
        "x": 1115,
        "y": 2499,
        "wires": [
            [
                "e98fe2bc7e9c8e07"
            ]
        ]
    },
    {
        "id": "e98fe2bc7e9c8e07",
        "type": "template",
        "z": "75782438c74014dc",
        "name": "color grf 4",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{    \n \"command\": \"update_style\",\n \"selector\": \"#circle13551\",\n \"attributeName\": \"fill\",\n \"attributeValue\": \"{{payload}}\"\n}\n",
        "output": "json",
        "x": 1327.3334350585938,
        "y": 2695.3809204101562,
        "wires": [
            [
                "6deb4a8665864bab"
            ]
        ]
    },
    {
        "id": "d3cadc4b3779a6ef",
        "type": "debug",
        "z": "75782438c74014dc",
        "name": "debug 72",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 800.0476684570312,
        "y": 2623.6666259765625,
        "wires": []
    },
    {
        "id": "95ba164e9bb4e2e0",
        "type": "range",
        "z": "75782438c74014dc",
        "minin": "0",
        "maxin": "4096",
        "minout": "11",
        "maxout": "1",
        "action": "roll",
        "round": true,
        "property": "payload",
        "name": "",
        "x": 787.1904296875,
        "y": 2673.047607421875,
        "wires": [
            [
                "d3cadc4b3779a6ef",
                "d38afd1439c59c29"
            ]
        ]
    },
    {
        "id": "d38afd1439c59c29",
        "type": "switch",
        "z": "75782438c74014dc",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "6",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "7",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "8",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "9",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "10",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "11",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 11,
        "x": 942.71435546875,
        "y": 2693.3333129882812,
        "wires": [
            [
                "c08528edce8e7b13"
            ],
            [
                "c7ee42070f142384"
            ],
            [
                "2ff6fd69b624e2a5"
            ],
            [
                "1bb8bde82ec03507"
            ],
            [
                "eac0d6d46431af65"
            ],
            [
                "fe401e3db5adeea4"
            ],
            [
                "9648f65357bab615"
            ],
            [
                "adddd90233cf837a"
            ],
            [
                "ac6de52c9fa2f53c"
            ],
            [
                "03449e93baacf855"
            ],
            [
                "c2cf3cb1752bf396"
            ]
        ]
    },
    {
        "id": "c08528edce8e7b13",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "color 1",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "rgb(  0,   0, 255)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1118.7142944335938,
        "y": 2548,
        "wires": [
            [
                "e98fe2bc7e9c8e07"
            ]
        ]
    },
    {
        "id": "c7ee42070f142384",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "color 2",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "rgb(  0,  50, 204)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1119.3808975219727,
        "y": 2582,
        "wires": [
            [
                "e98fe2bc7e9c8e07"
            ]
        ]
    },
    {
        "id": "2ff6fd69b624e2a5",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "color 3",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "rgb(  0, 101, 153)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1119.3809776306152,
        "y": 2616.6666259765625,
        "wires": [
            [
                "e98fe2bc7e9c8e07"
            ]
        ]
    },
    {
        "id": "1bb8bde82ec03507",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "color 4",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "rgb(  0, 153, 101)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1120.0475845336914,
        "y": 2650.6666259765625,
        "wires": [
            [
                "e98fe2bc7e9c8e07"
            ]
        ]
    },
    {
        "id": "eac0d6d46431af65",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "color 5",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "rgb(  0, 204,  50)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1120.7141876220703,
        "y": 2684.6666259765625,
        "wires": [
            [
                "e98fe2bc7e9c8e07"
            ]
        ]
    },
    {
        "id": "fe401e3db5adeea4",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "color 6 ",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "rgb(  0, 255,   0)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1120.714267730713,
        "y": 2719.333251953125,
        "wires": [
            [
                "e98fe2bc7e9c8e07"
            ]
        ]
    },
    {
        "id": "9648f65357bab615",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "color 7 ",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "rgb( 51, 203,   0)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1123.380958557129,
        "y": 2752.6666259765625,
        "wires": [
            [
                "e98fe2bc7e9c8e07"
            ]
        ]
    },
    {
        "id": "adddd90233cf837a",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "color 8",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "rgb(102, 152,   0)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1124.0475616455078,
        "y": 2786.6666259765625,
        "wires": [
            [
                "e98fe2bc7e9c8e07"
            ]
        ]
    },
    {
        "id": "ac6de52c9fa2f53c",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "color 9",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "rgb(153, 101,   0)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1124.0476417541504,
        "y": 2821.333251953125,
        "wires": [
            [
                "e98fe2bc7e9c8e07"
            ]
        ]
    },
    {
        "id": "03449e93baacf855",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "color 10",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "rgb(203,  51,   0)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1137.380958557129,
        "y": 2855.3333129882812,
        "wires": [
            [
                "e98fe2bc7e9c8e07"
            ]
        ]
    },
    {
        "id": "c2cf3cb1752bf396",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "color 11",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "rgb(255,   0,   0)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1137.3810386657715,
        "y": 2889.9999389648438,
        "wires": [
            [
                "e98fe2bc7e9c8e07"
            ]
        ]
    },
    {
        "id": "510a0734e4dec9d8",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "gfrValue4 > payload",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.gfrValue4",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 573.8571166992188,
        "y": 2673.047607421875,
        "wires": [
            [
                "95ba164e9bb4e2e0"
            ]
        ]
    },
    {
        "id": "93c72a03c066edf8",
        "type": "link in",
        "z": "75782438c74014dc",
        "name": "grf7",
        "links": [
            "639a7ff841dfcbd3"
        ],
        "x": 439,
        "y": 2673,
        "wires": [
            [
                "510a0734e4dec9d8",
                "6ea6ca1ba41af4c5"
            ]
        ]
    },
    {
        "id": "6deb4a8665864bab",
        "type": "link out",
        "z": "75782438c74014dc",
        "name": "toSVG",
        "mode": "link",
        "links": [
            "57e23afdab309308",
            "daf6e5724a54ebf4"
        ],
        "x": 1423,
        "y": 2694,
        "wires": []
    },
    {
        "id": "edd96fe41ecfd4cb",
        "type": "inject",
        "z": "75782438c74014dc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "rgb(0, 191, 255)",
        "payload": "{\"command\":\"update_style\",\"selector\":\"#circle13543\",\"attributeName\":\"fill\",\"attributeValue\":\"rgb(0, 191, 255)\"}",
        "payloadType": "json",
        "x": 1132,
        "y": 2969,
        "wires": [
            [
                "aaa9fb8e9cc56f9c"
            ]
        ]
    },
    {
        "id": "aaa9fb8e9cc56f9c",
        "type": "template",
        "z": "75782438c74014dc",
        "name": "color grf 3",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{    \n \"command\": \"update_style\",\n \"selector\": \"#circle13553\",\n \"attributeName\": \"fill\",\n \"attributeValue\": \"{{payload}}\"\n}\n",
        "output": "json",
        "x": 1344.3334350585938,
        "y": 3165.3809204101562,
        "wires": [
            [
                "0952326965fa40ed"
            ]
        ]
    },
    {
        "id": "6929ba91e49af286",
        "type": "debug",
        "z": "75782438c74014dc",
        "name": "debug 73",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 817.0476684570312,
        "y": 3093.6666259765625,
        "wires": []
    },
    {
        "id": "e41e73139252a37c",
        "type": "range",
        "z": "75782438c74014dc",
        "minin": "0",
        "maxin": "4096",
        "minout": "11",
        "maxout": "1",
        "action": "roll",
        "round": true,
        "property": "payload",
        "name": "",
        "x": 804.1904296875,
        "y": 3143.047607421875,
        "wires": [
            [
                "6929ba91e49af286",
                "6e5e31feaac3affe"
            ]
        ]
    },
    {
        "id": "6e5e31feaac3affe",
        "type": "switch",
        "z": "75782438c74014dc",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "6",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "7",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "8",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "9",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "10",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "11",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 11,
        "x": 959.71435546875,
        "y": 3163.3333129882812,
        "wires": [
            [
                "c38519bd0d58e065"
            ],
            [
                "bc8adedc9cad9f24"
            ],
            [
                "3dbdbc5dd233147c"
            ],
            [
                "6cc495a89f252405"
            ],
            [
                "6a8e17f34805e439"
            ],
            [
                "c5075b60ddf269e7"
            ],
            [
                "c83028c85298b3fd"
            ],
            [
                "e93e2e19c6811e6c"
            ],
            [
                "5bf8a3b97e0262a3"
            ],
            [
                "5a8bfa68a93350b5"
            ],
            [
                "a60b34d2a6d9ee9d"
            ]
        ]
    },
    {
        "id": "c38519bd0d58e065",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "color 1",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "rgb(  0,   0, 255)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1135.7142944335938,
        "y": 3018,
        "wires": [
            [
                "aaa9fb8e9cc56f9c"
            ]
        ]
    },
    {
        "id": "bc8adedc9cad9f24",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "color 2",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "rgb(  0,  50, 204)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1136.3808975219727,
        "y": 3052,
        "wires": [
            [
                "aaa9fb8e9cc56f9c"
            ]
        ]
    },
    {
        "id": "3dbdbc5dd233147c",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "color 3",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "rgb(  0, 101, 153)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1136.3809776306152,
        "y": 3086.6666259765625,
        "wires": [
            [
                "aaa9fb8e9cc56f9c"
            ]
        ]
    },
    {
        "id": "6cc495a89f252405",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "color 4",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "rgb(  0, 153, 101)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1137.0475845336914,
        "y": 3120.6666259765625,
        "wires": [
            [
                "aaa9fb8e9cc56f9c"
            ]
        ]
    },
    {
        "id": "6a8e17f34805e439",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "color 5",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "rgb(  0, 204,  50)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1137.7141876220703,
        "y": 3154.6666259765625,
        "wires": [
            [
                "aaa9fb8e9cc56f9c"
            ]
        ]
    },
    {
        "id": "c5075b60ddf269e7",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "color 6 ",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "rgb(  0, 255,   0)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1137.714267730713,
        "y": 3189.333251953125,
        "wires": [
            [
                "aaa9fb8e9cc56f9c"
            ]
        ]
    },
    {
        "id": "c83028c85298b3fd",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "color 7 ",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "rgb( 51, 203,   0)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1140.380958557129,
        "y": 3222.6666259765625,
        "wires": [
            [
                "aaa9fb8e9cc56f9c"
            ]
        ]
    },
    {
        "id": "e93e2e19c6811e6c",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "color 8",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "rgb(102, 152,   0)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1141.0475616455078,
        "y": 3256.6666259765625,
        "wires": [
            [
                "aaa9fb8e9cc56f9c"
            ]
        ]
    },
    {
        "id": "5bf8a3b97e0262a3",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "color 9",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "rgb(153, 101,   0)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1141.0476417541504,
        "y": 3291.333251953125,
        "wires": [
            [
                "aaa9fb8e9cc56f9c"
            ]
        ]
    },
    {
        "id": "5a8bfa68a93350b5",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "color 10",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "rgb(203,  51,   0)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1154.380958557129,
        "y": 3325.3333129882812,
        "wires": [
            [
                "aaa9fb8e9cc56f9c"
            ]
        ]
    },
    {
        "id": "a60b34d2a6d9ee9d",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "color 11",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "rgb(255,   0,   0)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1154.3810386657715,
        "y": 3359.9999389648438,
        "wires": [
            [
                "aaa9fb8e9cc56f9c"
            ]
        ]
    },
    {
        "id": "dd059dc738a64bf2",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "gfrValue3 > payload",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.gfrValue3",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590.8571166992188,
        "y": 3143.047607421875,
        "wires": [
            [
                "e41e73139252a37c"
            ]
        ]
    },
    {
        "id": "49b8e3004ca9453f",
        "type": "link in",
        "z": "75782438c74014dc",
        "name": "grf7",
        "links": [
            "639a7ff841dfcbd3"
        ],
        "x": 456,
        "y": 3143,
        "wires": [
            [
                "dd059dc738a64bf2",
                "13f737c87be84f06"
            ]
        ]
    },
    {
        "id": "0952326965fa40ed",
        "type": "link out",
        "z": "75782438c74014dc",
        "name": "toSVG",
        "mode": "link",
        "links": [
            "57e23afdab309308",
            "daf6e5724a54ebf4"
        ],
        "x": 1440,
        "y": 3164,
        "wires": []
    },
    {
        "id": "623c3dfe600be3a5",
        "type": "inject",
        "z": "75782438c74014dc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "rgb(0, 191, 255)",
        "payload": "{\"command\":\"update_style\",\"selector\":\"#circle13543\",\"attributeName\":\"fill\",\"attributeValue\":\"rgb(0, 191, 255)\"}",
        "payloadType": "json",
        "x": 1116,
        "y": 3447,
        "wires": [
            [
                "0cc650b2bf314dd9"
            ]
        ]
    },
    {
        "id": "0cc650b2bf314dd9",
        "type": "template",
        "z": "75782438c74014dc",
        "name": "color grf 2",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{    \n \"command\": \"update_style\",\n \"selector\": \"#circle13555\",\n \"attributeName\": \"fill\",\n \"attributeValue\": \"{{payload}}\"\n}\n",
        "output": "json",
        "x": 1328.3334350585938,
        "y": 3643.3809204101562,
        "wires": [
            [
                "a371cc91a8cee545"
            ]
        ]
    },
    {
        "id": "b35311e712db0e46",
        "type": "debug",
        "z": "75782438c74014dc",
        "name": "debug 74",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 801.0476684570312,
        "y": 3571.6666259765625,
        "wires": []
    },
    {
        "id": "443c7120f572f1b3",
        "type": "range",
        "z": "75782438c74014dc",
        "minin": "0",
        "maxin": "4096",
        "minout": "11",
        "maxout": "1",
        "action": "roll",
        "round": true,
        "property": "payload",
        "name": "",
        "x": 788.1904296875,
        "y": 3621.047607421875,
        "wires": [
            [
                "b35311e712db0e46",
                "a2465a4cf880556d"
            ]
        ]
    },
    {
        "id": "a2465a4cf880556d",
        "type": "switch",
        "z": "75782438c74014dc",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "6",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "7",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "8",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "9",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "10",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "11",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 11,
        "x": 943.71435546875,
        "y": 3641.3333129882812,
        "wires": [
            [
                "7308bd503e3d79bc"
            ],
            [
                "f59653a77e79fc0a"
            ],
            [
                "f69d075daff2a1c3"
            ],
            [
                "d288a6db39220527"
            ],
            [
                "311705b6259726a7"
            ],
            [
                "6927d1a15ce7d425"
            ],
            [
                "d2090f1aba51d800"
            ],
            [
                "7777ccdfa135feba"
            ],
            [
                "89436da5273743a8"
            ],
            [
                "b34c97262f7a345e"
            ],
            [
                "78eab455667d907e"
            ]
        ]
    },
    {
        "id": "7308bd503e3d79bc",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "color 1",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "rgb(  0,   0, 255)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1119.7142944335938,
        "y": 3496,
        "wires": [
            [
                "0cc650b2bf314dd9"
            ]
        ]
    },
    {
        "id": "f59653a77e79fc0a",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "color 2",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "rgb(  0,  50, 204)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1120.3808975219727,
        "y": 3530,
        "wires": [
            [
                "0cc650b2bf314dd9"
            ]
        ]
    },
    {
        "id": "f69d075daff2a1c3",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "color 3",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "rgb(  0, 101, 153)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1120.3809776306152,
        "y": 3564.6666259765625,
        "wires": [
            [
                "0cc650b2bf314dd9"
            ]
        ]
    },
    {
        "id": "d288a6db39220527",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "color 4",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "rgb(  0, 153, 101)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1121.0475845336914,
        "y": 3598.6666259765625,
        "wires": [
            [
                "0cc650b2bf314dd9"
            ]
        ]
    },
    {
        "id": "311705b6259726a7",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "color 5",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "rgb(  0, 204,  50)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1121.7141876220703,
        "y": 3632.6666259765625,
        "wires": [
            [
                "0cc650b2bf314dd9"
            ]
        ]
    },
    {
        "id": "6927d1a15ce7d425",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "color 6 ",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "rgb(  0, 255,   0)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1121.714267730713,
        "y": 3667.333251953125,
        "wires": [
            [
                "0cc650b2bf314dd9"
            ]
        ]
    },
    {
        "id": "d2090f1aba51d800",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "color 7 ",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "rgb( 51, 203,   0)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1124.380958557129,
        "y": 3700.6666259765625,
        "wires": [
            [
                "0cc650b2bf314dd9"
            ]
        ]
    },
    {
        "id": "7777ccdfa135feba",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "color 8",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "rgb(102, 152,   0)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1125.0475616455078,
        "y": 3734.6666259765625,
        "wires": [
            [
                "0cc650b2bf314dd9"
            ]
        ]
    },
    {
        "id": "89436da5273743a8",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "color 9",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "rgb(153, 101,   0)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1125.0476417541504,
        "y": 3769.333251953125,
        "wires": [
            [
                "0cc650b2bf314dd9"
            ]
        ]
    },
    {
        "id": "b34c97262f7a345e",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "color 10",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "rgb(203,  51,   0)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1138.380958557129,
        "y": 3803.3333129882812,
        "wires": [
            [
                "0cc650b2bf314dd9"
            ]
        ]
    },
    {
        "id": "78eab455667d907e",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "color 11",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "rgb(255,   0,   0)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1138.3810386657715,
        "y": 3837.9999389648438,
        "wires": [
            [
                "0cc650b2bf314dd9"
            ]
        ]
    },
    {
        "id": "1f3a5a730b765dc9",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "gfrValue2 > payload",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.gfrValue2",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 574.8571166992188,
        "y": 3621.047607421875,
        "wires": [
            [
                "443c7120f572f1b3"
            ]
        ]
    },
    {
        "id": "017f4541358c8de0",
        "type": "link in",
        "z": "75782438c74014dc",
        "name": "grf7",
        "links": [
            "639a7ff841dfcbd3"
        ],
        "x": 440,
        "y": 3621,
        "wires": [
            [
                "1f3a5a730b765dc9",
                "e01bc3a3fe6deea8"
            ]
        ]
    },
    {
        "id": "a371cc91a8cee545",
        "type": "link out",
        "z": "75782438c74014dc",
        "name": "toSVG",
        "mode": "link",
        "links": [
            "57e23afdab309308",
            "daf6e5724a54ebf4"
        ],
        "x": 1424,
        "y": 3642,
        "wires": []
    },
    {
        "id": "127e9d012213cdc3",
        "type": "inject",
        "z": "75782438c74014dc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "rgb(0, 191, 255)",
        "payload": "{\"command\":\"update_style\",\"selector\":\"#circle13543\",\"attributeName\":\"fill\",\"attributeValue\":\"rgb(0, 191, 255)\"}",
        "payloadType": "json",
        "x": 1134,
        "y": 3918,
        "wires": [
            [
                "3b61d07daac84be5"
            ]
        ]
    },
    {
        "id": "3b61d07daac84be5",
        "type": "template",
        "z": "75782438c74014dc",
        "name": "color grf 1",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{    \n \"command\": \"update_style\",\n \"selector\": \"#circle13557\",\n \"attributeName\": \"fill\",\n \"attributeValue\": \"{{payload}}\"\n}\n",
        "output": "json",
        "x": 1346.3334350585938,
        "y": 4114.380920410156,
        "wires": [
            [
                "5d24bc85af31d3eb"
            ]
        ]
    },
    {
        "id": "2792079760049de0",
        "type": "debug",
        "z": "75782438c74014dc",
        "name": "debug 75",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 819.0476684570312,
        "y": 4042.6666259765625,
        "wires": []
    },
    {
        "id": "6b0bcb8bcdc2b2cb",
        "type": "range",
        "z": "75782438c74014dc",
        "minin": "0",
        "maxin": "4096",
        "minout": "11",
        "maxout": "1",
        "action": "roll",
        "round": true,
        "property": "payload",
        "name": "",
        "x": 806.1904296875,
        "y": 4092.047607421875,
        "wires": [
            [
                "2792079760049de0",
                "a11da9f1ba646630"
            ]
        ]
    },
    {
        "id": "a11da9f1ba646630",
        "type": "switch",
        "z": "75782438c74014dc",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "6",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "7",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "8",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "9",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "10",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "11",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 11,
        "x": 961.71435546875,
        "y": 4112.333312988281,
        "wires": [
            [
                "32e1625b1093b0f8"
            ],
            [
                "8298572e120480cf"
            ],
            [
                "7dfa0300f8b46125"
            ],
            [
                "4ee2c0e29be75591"
            ],
            [
                "a9824e63163bc33b"
            ],
            [
                "0f751a287b2530c5"
            ],
            [
                "54839e142d94700d"
            ],
            [
                "d37b727d9776e460"
            ],
            [
                "a4b95427681567f5"
            ],
            [
                "6f3568a0be77b122"
            ],
            [
                "918734a555972dab"
            ]
        ]
    },
    {
        "id": "32e1625b1093b0f8",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "color 1",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "rgb(  0,   0, 255)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1137.7142944335938,
        "y": 3967,
        "wires": [
            [
                "3b61d07daac84be5"
            ]
        ]
    },
    {
        "id": "8298572e120480cf",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "color 2",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "rgb(  0,  50, 204)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1138.3808975219727,
        "y": 4001,
        "wires": [
            [
                "3b61d07daac84be5"
            ]
        ]
    },
    {
        "id": "7dfa0300f8b46125",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "color 3",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "rgb(  0, 101, 153)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1138.3809776306152,
        "y": 4035.6666259765625,
        "wires": [
            [
                "3b61d07daac84be5"
            ]
        ]
    },
    {
        "id": "4ee2c0e29be75591",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "color 4",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "rgb(  0, 153, 101)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1139.0475845336914,
        "y": 4069.6666259765625,
        "wires": [
            [
                "3b61d07daac84be5"
            ]
        ]
    },
    {
        "id": "a9824e63163bc33b",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "color 5",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "rgb(  0, 204,  50)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1139.7141876220703,
        "y": 4103.6666259765625,
        "wires": [
            [
                "3b61d07daac84be5"
            ]
        ]
    },
    {
        "id": "0f751a287b2530c5",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "color 6 ",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "rgb(  0, 255,   0)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1139.714267730713,
        "y": 4138.333251953125,
        "wires": [
            [
                "3b61d07daac84be5"
            ]
        ]
    },
    {
        "id": "54839e142d94700d",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "color 7 ",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "rgb( 51, 203,   0)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1142.380958557129,
        "y": 4171.6666259765625,
        "wires": [
            [
                "3b61d07daac84be5"
            ]
        ]
    },
    {
        "id": "d37b727d9776e460",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "color 8",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "rgb(102, 152,   0)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1143.0475616455078,
        "y": 4205.6666259765625,
        "wires": [
            [
                "3b61d07daac84be5"
            ]
        ]
    },
    {
        "id": "a4b95427681567f5",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "color 9",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "rgb(153, 101,   0)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1143.0476417541504,
        "y": 4240.333251953125,
        "wires": [
            [
                "3b61d07daac84be5"
            ]
        ]
    },
    {
        "id": "6f3568a0be77b122",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "color 10",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "rgb(203,  51,   0)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1156.380958557129,
        "y": 4274.333312988281,
        "wires": [
            [
                "3b61d07daac84be5"
            ]
        ]
    },
    {
        "id": "918734a555972dab",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "color 11",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "rgb(255,   0,   0)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1156.3810386657715,
        "y": 4308.999938964844,
        "wires": [
            [
                "3b61d07daac84be5"
            ]
        ]
    },
    {
        "id": "1fc08e34e7295050",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "gfrValue1 > payload",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.gfrValue1",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 592.8571166992188,
        "y": 4092.047607421875,
        "wires": [
            [
                "6b0bcb8bcdc2b2cb"
            ]
        ]
    },
    {
        "id": "82928a86b1f33b47",
        "type": "link in",
        "z": "75782438c74014dc",
        "name": "grf7",
        "links": [
            "639a7ff841dfcbd3"
        ],
        "x": 458,
        "y": 4092,
        "wires": [
            [
                "1fc08e34e7295050",
                "5b568a5785708f17"
            ]
        ]
    },
    {
        "id": "5d24bc85af31d3eb",
        "type": "link out",
        "z": "75782438c74014dc",
        "name": "toSVG",
        "mode": "link",
        "links": [
            "57e23afdab309308",
            "daf6e5724a54ebf4"
        ],
        "x": 1442,
        "y": 4113,
        "wires": []
    },
    {
        "id": "4486b3224f468c15",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "gfrValue8 > chart",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.gfrValue8",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "8",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 505,
        "y": 789,
        "wires": [
            [
                "2c4eb2d58a3798ca"
            ]
        ]
    },
    {
        "id": "9ddcf6eaa400c686",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "gfrValue7 > chart",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.gfrValue7",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "7",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 526,
        "y": 1285,
        "wires": [
            [
                "4ff9158b6381f315"
            ]
        ]
    },
    {
        "id": "1b26b1b33fae43af",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "gfrValue6 > chart",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.gfrValue6",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "6",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 536,
        "y": 1768,
        "wires": [
            [
                "35d9a8db010a0f7b"
            ]
        ]
    },
    {
        "id": "a86b91fcaa3ad0bb",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "gfrValue5 > chart",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.gfrValue5",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "5",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 549,
        "y": 2242,
        "wires": [
            [
                "47832a06e8ee6758"
            ]
        ]
    },
    {
        "id": "6ea6ca1ba41af4c5",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "gfrValue4 > chart",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.gfrValue4",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "4",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 561,
        "y": 2713,
        "wires": [
            [
                "3e9d1f7ece8f115e"
            ]
        ]
    },
    {
        "id": "13f737c87be84f06",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "gfrValue3 > chart",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.gfrValue3",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "3",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 578,
        "y": 3191,
        "wires": [
            [
                "4fe97df62039a148"
            ]
        ]
    },
    {
        "id": "e01bc3a3fe6deea8",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "gfrValue2 > chart",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.gfrValue2",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "2",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 561,
        "y": 3664,
        "wires": [
            [
                "8d6a15594e53a0e6"
            ]
        ]
    },
    {
        "id": "5b568a5785708f17",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "gfrValue1 > chart",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.gfrValue1",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 4133,
        "wires": [
            [
                "9318996ede5e1f63"
            ]
        ]
    },
    {
        "id": "e4fef56315fceae1",
        "type": "link in",
        "z": "75782438c74014dc",
        "name": "chart",
        "links": [
            "fd14d1c77e998bf3",
            "cad4b973c549d1dc",
            "bd56449691c54561",
            "0dc81944ef7efb21",
            "b6604aaaa2ace6d4",
            "e34b65acd71ad5c8",
            "dda381407011f854",
            "c818f235c630e7f4"
        ],
        "x": 1539.5,
        "y": 742,
        "wires": [
            [
                "b385bb01abf71909"
            ]
        ]
    },
    {
        "id": "c818f235c630e7f4",
        "type": "link out",
        "z": "75782438c74014dc",
        "name": "tochart",
        "mode": "link",
        "links": [
            "e4fef56315fceae1",
            "73a4013284653107"
        ],
        "x": 614,
        "y": 839,
        "wires": []
    },
    {
        "id": "dda381407011f854",
        "type": "link out",
        "z": "75782438c74014dc",
        "name": "tochart",
        "mode": "link",
        "links": [
            "e4fef56315fceae1",
            "73a4013284653107"
        ],
        "x": 595,
        "y": 1339,
        "wires": []
    },
    {
        "id": "e34b65acd71ad5c8",
        "type": "link out",
        "z": "75782438c74014dc",
        "name": "tochart",
        "mode": "link",
        "links": [
            "e4fef56315fceae1",
            "73a4013284653107"
        ],
        "x": 609,
        "y": 1818,
        "wires": []
    },
    {
        "id": "b6604aaaa2ace6d4",
        "type": "link out",
        "z": "75782438c74014dc",
        "name": "tochart",
        "mode": "link",
        "links": [
            "e4fef56315fceae1",
            "73a4013284653107"
        ],
        "x": 645,
        "y": 2286,
        "wires": []
    },
    {
        "id": "0dc81944ef7efb21",
        "type": "link out",
        "z": "75782438c74014dc",
        "name": "tochart",
        "mode": "link",
        "links": [
            "e4fef56315fceae1",
            "73a4013284653107"
        ],
        "x": 646,
        "y": 2762,
        "wires": []
    },
    {
        "id": "bd56449691c54561",
        "type": "link out",
        "z": "75782438c74014dc",
        "name": "tochart",
        "mode": "link",
        "links": [
            "e4fef56315fceae1",
            "73a4013284653107"
        ],
        "x": 654,
        "y": 3239,
        "wires": []
    },
    {
        "id": "cad4b973c549d1dc",
        "type": "link out",
        "z": "75782438c74014dc",
        "name": "tochart",
        "mode": "link",
        "links": [
            "e4fef56315fceae1",
            "73a4013284653107"
        ],
        "x": 686,
        "y": 3714,
        "wires": []
    },
    {
        "id": "fd14d1c77e998bf3",
        "type": "link out",
        "z": "75782438c74014dc",
        "name": "tochart",
        "mode": "link",
        "links": [
            "e4fef56315fceae1",
            "73a4013284653107"
        ],
        "x": 648,
        "y": 4178,
        "wires": []
    },
    {
        "id": "45cc39ba0d9fd8ad",
        "type": "link in",
        "z": "75782438c74014dc",
        "name": "grf8",
        "links": [
            "639a7ff841dfcbd3"
        ],
        "x": 1527.765637397766,
        "y": 785.750018119812,
        "wires": [
            [
                "10d75e24873f7453",
                "ff097f245986969f",
                "0aab480ff94e4ab2"
            ]
        ]
    },
    {
        "id": "10d75e24873f7453",
        "type": "debug",
        "z": "75782438c74014dc",
        "name": "debug 76",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1635.765625,
        "y": 780.75,
        "wires": []
    },
    {
        "id": "c93bdfea9af02406",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "accX > chart",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.accX",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "accX",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1804.824420928955,
        "y": 818.7499809265137,
        "wires": [
            [
                "761085a83af96590"
            ]
        ]
    },
    {
        "id": "b9343c219f7013b4",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "accY > chart",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.accY",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "accY",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1806.074420928955,
        "y": 861.7499809265137,
        "wires": [
            [
                "761085a83af96590"
            ]
        ]
    },
    {
        "id": "1a12cba48e5f89ff",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "accZ > chart",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.accZ",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "accZ",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1804.074420928955,
        "y": 901.7499809265137,
        "wires": [
            [
                "761085a83af96590"
            ]
        ]
    },
    {
        "id": "f62d9b5799840431",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "gyrX > chart",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.gyrX",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "gyrX",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1803.074420928955,
        "y": 937.7499809265137,
        "wires": [
            [
                "b088513b53732a55"
            ]
        ]
    },
    {
        "id": "335e6e01d0df3177",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "gyrY > chart",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.gyrY",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "gyrY",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1806.074420928955,
        "y": 978.7499809265137,
        "wires": [
            [
                "b088513b53732a55"
            ]
        ]
    },
    {
        "id": "4af91013da180150",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "gyrZ > chart",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.gyrZ",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "gyrZ",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1804.074420928955,
        "y": 1020.7499809265137,
        "wires": [
            [
                "b088513b53732a55"
            ]
        ]
    },
    {
        "id": "0aab480ff94e4ab2",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "temp > chart",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.temp",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "temp",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1650.4863204956055,
        "y": 1114.6324281692505,
        "wires": [
            []
        ]
    },
    {
        "id": "761085a83af96590",
        "type": "ui_chart",
        "z": "75782438c74014dc",
        "d": true,
        "name": "",
        "group": "7001b6d20850f9aa",
        "order": 10,
        "width": 0,
        "height": 0,
        "label": "acc",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-9",
        "ymax": "9",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1989.7839164733887,
        "y": 858.8017425537109,
        "wires": [
            []
        ]
    },
    {
        "id": "b088513b53732a55",
        "type": "ui_chart",
        "z": "75782438c74014dc",
        "d": true,
        "name": "",
        "group": "7001b6d20850f9aa",
        "order": 11,
        "width": 0,
        "height": 0,
        "label": "gyr",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "-9",
        "ymax": "9",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1983.244384765625,
        "y": 968.38232421875,
        "wires": [
            []
        ]
    },
    {
        "id": "f3f85fafd2d56142",
        "type": "ui_switch",
        "z": "75782438c74014dc",
        "d": true,
        "name": "",
        "label": "Communication",
        "tooltip": "",
        "group": "ce478907f09f5717",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 693.4604225158691,
        "y": 93.57193565368652,
        "wires": [
            [
                "bb7f9bf240dc131f"
            ]
        ]
    },
    {
        "id": "b365cd05b9a72188",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "serial",
                "pt": "flow",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 997.5804901123047,
        "y": 103.82699966430664,
        "wires": [
            []
        ]
    },
    {
        "id": "fa8f5e9a94c08567",
        "type": "inject",
        "z": "75782438c74014dc",
        "name": "Serial Speed ",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "20",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "H",
        "payloadType": "str",
        "x": 736.8134231567383,
        "y": 311.9101598262787,
        "wires": [
            [
                "d4e7ea836bb642cf"
            ]
        ]
    },
    {
        "id": "bb7f9bf240dc131f",
        "type": "switch",
        "z": "75782438c74014dc",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 842.0680236816406,
        "y": 149.38305187225342,
        "wires": [
            [
                "b365cd05b9a72188"
            ],
            [
                "c9ad799afafb77ac"
            ]
        ]
    },
    {
        "id": "c9ad799afafb77ac",
        "type": "change",
        "z": "75782438c74014dc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "serial",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1006.9208984375,
        "y": 205.1470489501953,
        "wires": [
            []
        ]
    },
    {
        "id": "d4e7ea836bb642cf",
        "type": "switch",
        "z": "75782438c74014dc",
        "name": "",
        "property": "serial",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 934.8867340087891,
        "y": 310.0214900970459,
        "wires": [
            []
        ]
    },
    {
        "id": "178f1f559fcf9c0b",
        "type": "serial out",
        "z": "75782438c74014dc",
        "name": "",
        "serial": "b70dba49099082f2",
        "x": 1153.507827758789,
        "y": 310.4238328933716,
        "wires": []
    },
    {
        "id": "291e10eaf25734c8",
        "type": "inject",
        "z": "75782438c74014dc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 709.5078239440918,
        "y": 208.9355592727661,
        "wires": [
            [
                "c9ad799afafb77ac"
            ]
        ]
    },
    {
        "id": "e58d808c5b7d739c",
        "type": "ui_media",
        "z": "75782438c74014dc",
        "group": "3b1926e674a4c183",
        "name": "",
        "width": "6",
        "height": "12",
        "order": 0,
        "category": "loghi",
        "file": "front-double-3.png",
        "layout": "center",
        "showcontrols": false,
        "loop": false,
        "onstart": false,
        "scope": "local",
        "tooltip": "",
        "x": 1638,
        "y": 558,
        "wires": [
            [
                "9d9200198c332684"
            ]
        ]
    },
    {
        "id": "30560673d305e5a2",
        "type": "inject",
        "z": "75782438c74014dc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "rgb(0, 191, 255)",
        "payload": "{\"command\":\"update_style\",\"selector\":\"#circle13543\",\"attributeName\":\"fill\",\"attributeValue\":\"rgb(0, 191, 255)\"}",
        "payloadType": "json",
        "x": 1495.0000228881836,
        "y": 528.0000095367432,
        "wires": [
            [
                "e58d808c5b7d739c"
            ]
        ]
    },
    {
        "id": "9d9200198c332684",
        "type": "debug",
        "z": "75782438c74014dc",
        "name": "debug 77",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1797,
        "y": 534,
        "wires": []
    },
    {
        "id": "2c4eb2d58a3798ca",
        "type": "range",
        "z": "75782438c74014dc",
        "minin": "0",
        "maxin": "4096",
        "minout": "4096",
        "maxout": "0",
        "action": "roll",
        "round": true,
        "property": "payload",
        "name": "",
        "x": 485,
        "y": 838,
        "wires": [
            [
                "c818f235c630e7f4",
                "84796353087a55d8"
            ]
        ]
    },
    {
        "id": "4ff9158b6381f315",
        "type": "range",
        "z": "75782438c74014dc",
        "minin": "0",
        "maxin": "4096",
        "minout": "4096",
        "maxout": "0",
        "action": "roll",
        "round": true,
        "property": "payload",
        "name": "",
        "x": 494,
        "y": 1338,
        "wires": [
            [
                "dda381407011f854"
            ]
        ]
    },
    {
        "id": "35d9a8db010a0f7b",
        "type": "range",
        "z": "75782438c74014dc",
        "minin": "0",
        "maxin": "4096",
        "minout": "4096",
        "maxout": "0",
        "action": "roll",
        "round": true,
        "property": "payload",
        "name": "",
        "x": 501,
        "y": 1816,
        "wires": [
            [
                "e34b65acd71ad5c8"
            ]
        ]
    },
    {
        "id": "47832a06e8ee6758",
        "type": "range",
        "z": "75782438c74014dc",
        "minin": "0",
        "maxin": "4096",
        "minout": "4096",
        "maxout": "0",
        "action": "roll",
        "round": true,
        "property": "payload",
        "name": "",
        "x": 520,
        "y": 2287,
        "wires": [
            [
                "b6604aaaa2ace6d4"
            ]
        ]
    },
    {
        "id": "3e9d1f7ece8f115e",
        "type": "range",
        "z": "75782438c74014dc",
        "minin": "0",
        "maxin": "4096",
        "minout": "4096",
        "maxout": "0",
        "action": "roll",
        "round": true,
        "property": "payload",
        "name": "",
        "x": 531,
        "y": 2763,
        "wires": [
            [
                "0dc81944ef7efb21"
            ]
        ]
    },
    {
        "id": "4fe97df62039a148",
        "type": "range",
        "z": "75782438c74014dc",
        "minin": "0",
        "maxin": "4096",
        "minout": "4096",
        "maxout": "0",
        "action": "roll",
        "round": true,
        "property": "payload",
        "name": "",
        "x": 543,
        "y": 3236,
        "wires": [
            [
                "bd56449691c54561"
            ]
        ]
    },
    {
        "id": "8d6a15594e53a0e6",
        "type": "range",
        "z": "75782438c74014dc",
        "minin": "0",
        "maxin": "4096",
        "minout": "4096",
        "maxout": "0",
        "action": "roll",
        "round": true,
        "property": "payload",
        "name": "",
        "x": 528,
        "y": 3717,
        "wires": [
            [
                "cad4b973c549d1dc"
            ]
        ]
    },
    {
        "id": "9318996ede5e1f63",
        "type": "range",
        "z": "75782438c74014dc",
        "minin": "0",
        "maxin": "4096",
        "minout": "4096",
        "maxout": "0",
        "action": "roll",
        "round": true,
        "property": "payload",
        "name": "",
        "x": 546,
        "y": 4179,
        "wires": [
            [
                "fd14d1c77e998bf3"
            ]
        ]
    },
    {
        "id": "cadbb4f9dcdfbfa1",
        "type": "inject",
        "z": "75782438c74014dc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 1336,
        "y": 454,
        "wires": [
            []
        ]
    },
    {
        "id": "84796353087a55d8",
        "type": "debug",
        "z": "75782438c74014dc",
        "name": "debug 78",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 632,
        "y": 905,
        "wires": []
    },
    {
        "id": "b385bb01abf71909",
        "type": "ui_chart",
        "z": "75782438c74014dc",
        "name": "",
        "group": "7001b6d20850f9aa",
        "order": 1,
        "width": "6",
        "height": "14",
        "label": "Live Data Visualization",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "4000",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": true,
        "useUTC": false,
        "colors": [
            "#abcc39",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1922.5,
        "y": 677,
        "wires": [
            []
        ]
    },
    {
        "id": "2f59adc8d6700d0b",
        "type": "ui_svg_graphics",
        "z": "75782438c74014dc",
        "group": "bdedd999ace51f8e",
        "order": 1,
        "width": 0,
        "height": 0,
        "svgString": "<svg svg  x=\"0\" y=\"0\" width=\"250\" height=\"700\" viewBox=\"0 0 250 600\"  xmlns=\"http://www.w3.org/2000/svg\" xmlns:svg=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\">\n<!-- Add here your SVG shapes (circles, rectangles, ...) -->\n<!-- Or remove everything, if you want to paste an entire drawing (<svg...>...</svg>).-->\n\n <g\n     inkscape:label=\"sole\"\n     inkscape:groupmode=\"layer\"\n     id=\"layer1\"\n     style=\"display:inline\">\n    <path\n       style=\"fill:#0c0d0e;stroke:#000000;stroke-width:0.2;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1\"\n       d=\"m 185.94694,579.94449 c 1.90187,-4.58257 4.68649,-8.84165 6.64675,-13.43992 5.78366,-13.56804 9.24873,-28.13109 9.94338,-42.86397 1.22256,-25.91662 -6.88555,-50.83524 -11.86181,-75.95826 -4.68769,-23.66346 -5.91323,-48.06394 -5.2431,-72.13696 0.83078,-29.86984 5.39053,-59.55754 11.73949,-88.72297 5.67694,-26.077 12.4125,-51.97004 17.01547,-78.27218 6.50681,-37.17932 9.37966,-75.61582 3.43567,-113.07299 C 214.02258,72.797095 206.30553,50.509399 194.04237,31.021596 187.74277,18.906256 178.35586,10.646247 166.5592,5.9477745 162.53324,4.3378883 158.30712,3.3608455 154.04432,2.6314748 119.53642,-3.2706533 91.519017,25.732955 74.054967,51.699977 70.742486,56.625039 67.383353,61.68358 64.538418,66.900585 45.56243,101.71147 31.370596,139.66349 24.184099,178.78395 c -6.21687,33.84015 -7.198584,68.07702 -7.120333,102.40183 0.08991,39.92486 2.208766,79.83075 4.393654,119.6817 l 4.057392,73.5409 c 1.475356,26.92939 3.563066,53.91233 9.975985,80.18568 5.424787,22.22266 15.720485,45.92655 35.34766,59.12273 22.342942,15.02238 53.300793,15.24061 77.141153,3.73419 10.22248,-4.9335 19.10032,-12.18309 26.40963,-20.82625 3.41139,-4.03386 6.61446,-8.30761 9.25598,-12.88282 0.72592,-1.25738 1.74935,-2.46641 2.30172,-3.79742 m 1.7962,-5.03852 c -1.9694,4.57973 -5.10845,8.99489 -7.87721,13.10925 -5.70229,8.4736 -12.84775,16.19935 -21.20265,22.12377 -18.28032,12.96218 -42.16385,17.54599 -63.992681,12.61357 -7.860258,-1.77754 -15.844115,-4.73334 -22.566712,-9.25447 C 51.630324,599.73163 41.626615,575.96271 35.967955,552.78103 29.388306,525.82666 27.638063,498.0057 26.124136,470.39334 L 22.219335,399.2189 c -2.001022,-36.48298 -3.796579,-72.97644 -4.219822,-109.51865 -0.353626,-30.46062 -0.144317,-61.12027 3.87939,-91.36233 3.676663,-27.63819 10.841105,-54.70757 20.432061,-80.85634 5.469158,-14.91199 11.788255,-29.747299 19.382259,-43.679873 2.693549,-4.938348 5.422866,-10.135904 8.561548,-14.802672 15.55014,-23.12554 33.781769,-47.353806 62.269719,-54.610016 3.90019,-0.9938045 7.89229,-1.4102634 11.90355,-1.5441947 5.09582,-0.1708023 10.16327,0.5789325 15.09575,1.8057788 24.18167,6.1026509 35.43005,26.9041089 44.34484,46.8405069 6.24378,14.095892 10.48769,29.061073 12.93263,44.271275 6.60297,41.070985 2.26129,83.071085 -5.51844,123.641935 -5.47192,28.53451 -13.33646,56.57048 -18.58649,85.14959 -4.9174,26.76802 -7.89502,53.61749 -8.28963,80.84184 -0.32453,22.37584 1.68431,45.17428 6.3327,67.07016 5.0198,23.64824 12.11236,47.19453 10.9594,71.64006 -0.5815,12.32998 -3.29723,24.51379 -7.54236,36.08609 -1.85403,5.05451 -4.29601,9.7905 -6.4133,14.71391\"\n       id=\"path980\"\n       sodipodi:nodetypes=\"ccccccccccccccccccccssccscccsccccccccccccccccscc\" />\n  </g>\n  <g\n     inkscape:groupmode=\"layer\"\n     id=\"layer2\"\n     inkscape:label=\"points\"\n     style=\"display:inline\"\n     sodipodi:insensitive=\"true\">\n    <circle\n       style=\"fill:none;stroke:#000000;stroke-width:1.2429;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;stop-color:#000000\"\n       id=\"path1168\"\n       cx=\"55.913315\"\n       cy=\"-145.50314\"\n       r=\"27.136023\"\n       transform=\"rotate(90)\" />\n    <circle\n       style=\"fill:none;stroke:#000000;stroke-width:1.2429;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;stop-color:#000000\"\n       id=\"circle1294\"\n       cx=\"130.21432\"\n       cy=\"-178.77702\"\n       r=\"27.136023\"\n       transform=\"rotate(90)\" />\n    <circle\n       style=\"fill:none;stroke:#000000;stroke-width:1.2429;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;stop-color:#000000\"\n       id=\"circle1296\"\n       cx=\"145.39758\"\n       cy=\"-116.42884\"\n       r=\"27.136023\"\n       transform=\"rotate(90)\" />\n    <circle\n       style=\"fill:none;stroke:#000000;stroke-width:1.2429;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;stop-color:#000000\"\n       id=\"circle1298\"\n       cx=\"200.3157\"\n       cy=\"-57.311092\"\n       r=\"27.136023\"\n       transform=\"rotate(90)\" />\n    <circle\n       style=\"fill:none;stroke:#000000;stroke-width:1.2429;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;stop-color:#000000\"\n       id=\"circle1300\"\n       cx=\"282.69293\"\n       cy=\"-48.750286\"\n       r=\"27.136023\"\n       transform=\"rotate(90)\" />\n    <circle\n       style=\"fill:none;stroke:#000000;stroke-width:1.2429;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;stop-color:#000000\"\n       id=\"circle1302\"\n       cx=\"492.33487\"\n       cy=\"-150.47772\"\n       r=\"27.136023\"\n       transform=\"rotate(90)\" />\n    <circle\n       style=\"fill:none;stroke:#000000;stroke-width:1.2429;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;stop-color:#000000\"\n       id=\"circle1304\"\n       cx=\"516.56348\"\n       cy=\"-78.438072\"\n       r=\"27.136023\"\n       transform=\"rotate(90)\" />\n    <circle\n       style=\"fill:none;stroke:#000000;stroke-width:1.2429;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;stop-color:#000000\"\n       id=\"circle1306\"\n       cx=\"559.36737\"\n       cy=\"-119.78821\"\n       r=\"27.136023\"\n       transform=\"rotate(90)\" />\n  </g>\n  <g\n     inkscape:groupmode=\"layer\"\n     id=\"g13559\"\n     inkscape:label=\"points-fill\"\n     sodipodi:insensitive=\"true\">\n    <circle\n       style=\"fill:#ff0000;fill-opacity:1;stroke:none;stroke-width:1.2429;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;stop-color:#000000\"\n       id=\"circle13543\"\n       cx=\"55.913315\"\n       cy=\"-145.50314\"\n       r=\"27.136023\"\n       transform=\"rotate(90)\" />\n    <circle\n       style=\"fill:#ff0000;fill-opacity:1;stroke:none;stroke-width:1.2429;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;stop-color:#000000\"\n       id=\"circle13545\"\n       cx=\"130.21432\"\n       cy=\"-178.77702\"\n       r=\"27.136023\"\n       transform=\"rotate(90)\" />\n    <circle\n       style=\"fill:#ff0000;fill-opacity:1;stroke:none;stroke-width:1.2429;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;stop-color:#000000\"\n       id=\"circle13547\"\n       cx=\"145.39758\"\n       cy=\"-116.42884\"\n       r=\"27.136023\"\n       transform=\"rotate(90)\" />\n    <circle\n       style=\"fill:#ff0000;fill-opacity:1;stroke:none;stroke-width:1.2429;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;stop-color:#000000\"\n       id=\"circle13549\"\n       cx=\"200.3157\"\n       cy=\"-57.311092\"\n       r=\"27.136023\"\n       transform=\"rotate(90)\" />\n    <circle\n       style=\"fill:#ff0000;fill-opacity:1;stroke:none;stroke-width:1.2429;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;stop-color:#000000\"\n       id=\"circle13551\"\n       cx=\"282.69293\"\n       cy=\"-48.750286\"\n       r=\"27.136023\"\n       transform=\"rotate(90)\" />\n    <circle\n       style=\"fill:#ff0000;fill-opacity:1;stroke:none;stroke-width:1.2429;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;stop-color:#000000\"\n       id=\"circle13553\"\n       cx=\"492.33487\"\n       cy=\"-150.47772\"\n       r=\"27.136023\"\n       transform=\"rotate(90)\" />\n    <circle\n       style=\"fill:#ff0000;fill-opacity:1;stroke:none;stroke-width:1.2429;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;stop-color:#000000\"\n       id=\"circle13555\"\n       cx=\"516.56348\"\n       cy=\"-78.438072\"\n       r=\"27.136023\"\n       transform=\"rotate(90)\" />\n    <circle\n       style=\"fill:#ff0000;fill-opacity:1;stroke:none;stroke-width:1.2429;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;stop-color:#000000\"\n       id=\"circle13557\"\n       cx=\"559.36737\"\n       cy=\"-119.78821\"\n       r=\"27.136023\"\n       transform=\"rotate(90)\" />\n  </g>\n  <g\n     inkscape:groupmode=\"layer\"\n     id=\"layer3\"\n     inkscape:label=\"num\"\n     style=\"display:inline\">\n    <text\n       xml:space=\"preserve\"\n       style=\"font-style:normal;font-weight:normal;font-size:21.9234px;line-height:1.25;font-family:sans-serif;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.164426\"\n       x=\"115.10884\"\n       y=\"566.46161\"\n       id=\"text1597\"><tspan\n         sodipodi:role=\"line\"\n         id=\"tspan1595\"\n         style=\"font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:21.9234px;font-family:'Roboto Slab';-inkscape-font-specification:'Roboto Slab';stroke-width:0.164426\"\n         x=\"115.10884\"\n         y=\"566.46161\">1</tspan></text>\n    <text\n       xml:space=\"preserve\"\n       style=\"font-style:normal;font-weight:normal;font-size:21.9234px;line-height:1.25;font-family:sans-serif;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.164426\"\n       x=\"71.208359\"\n       y=\"522.95782\"\n       id=\"text2949\"><tspan\n         sodipodi:role=\"line\"\n         id=\"tspan2947\"\n         style=\"font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:21.9234px;font-family:'Roboto Slab';-inkscape-font-specification:'Roboto Slab';stroke-width:0.164426\"\n         x=\"71.208359\"\n         y=\"522.95782\">2</tspan></text>\n    <text\n       xml:space=\"preserve\"\n       style=\"font-style:normal;font-weight:normal;font-size:21.9234px;line-height:1.25;font-family:sans-serif;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.164426\"\n       x=\"144.87651\"\n       y=\"499.13501\"\n       id=\"text6967\"><tspan\n         sodipodi:role=\"line\"\n         id=\"tspan6965\"\n         style=\"font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:21.9234px;font-family:'Roboto Slab';-inkscape-font-specification:'Roboto Slab';stroke-width:0.164426\"\n         x=\"144.87651\"\n         y=\"499.13501\">3</tspan></text>\n    <text\n       xml:space=\"preserve\"\n       style=\"font-style:normal;font-weight:normal;font-size:21.9234px;line-height:1.25;font-family:sans-serif;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.164426\"\n       x=\"41.413483\"\n       y=\"289.19302\"\n       id=\"text9379\"><tspan\n         sodipodi:role=\"line\"\n         id=\"tspan9377\"\n         style=\"font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:21.9234px;font-family:'Roboto Slab';-inkscape-font-specification:'Roboto Slab';stroke-width:0.164426\"\n         x=\"41.413483\"\n         y=\"289.19302\">4</tspan></text>\n    <text\n       xml:space=\"preserve\"\n       style=\"font-style:normal;font-weight:normal;font-size:21.9234px;line-height:1.25;font-family:sans-serif;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.164426\"\n       x=\"50.728027\"\n       y=\"208.07397\"\n       id=\"text10493\"><tspan\n         sodipodi:role=\"line\"\n         id=\"tspan10491\"\n         style=\"font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:21.9234px;font-family:'Roboto Slab';-inkscape-font-specification:'Roboto Slab';stroke-width:0.164426\"\n         x=\"50.728027\"\n         y=\"208.07397\">5</tspan></text>\n    <text\n       xml:space=\"preserve\"\n       style=\"font-style:normal;font-weight:normal;font-size:21.9234px;line-height:1.25;font-family:sans-serif;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.164426\"\n       x=\"109.89936\"\n       y=\"152.59259\"\n       id=\"text11115\"><tspan\n         sodipodi:role=\"line\"\n         id=\"tspan11113\"\n         style=\"font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:21.9234px;font-family:'Roboto Slab';-inkscape-font-specification:'Roboto Slab';stroke-width:0.164426\"\n         x=\"109.89936\"\n         y=\"152.59259\">6</tspan></text>\n    <text\n       xml:space=\"preserve\"\n       style=\"font-style:normal;font-weight:normal;font-size:21.9234px;line-height:1.25;font-family:sans-serif;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.164426\"\n       x=\"173.23788\"\n       y=\"136.87148\"\n       id=\"text12757\"><tspan\n         sodipodi:role=\"line\"\n         id=\"tspan12755\"\n         style=\"font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:21.9234px;font-family:'Roboto Slab';-inkscape-font-specification:'Roboto Slab';stroke-width:0.164426\"\n         x=\"173.23788\"\n         y=\"136.87148\">7</tspan></text>\n    <text\n       xml:space=\"preserve\"\n       style=\"font-style:normal;font-weight:normal;font-size:21.9234px;line-height:1.25;font-family:sans-serif;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.164426\"\n       x=\"139.81216\"\n       y=\"63.381073\"\n       id=\"text13331\"><tspan\n         sodipodi:role=\"line\"\n         id=\"tspan13329\"\n         style=\"font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:21.9234px;font-family:'Roboto Slab';-inkscape-font-specification:'Roboto Slab';stroke-width:0.164426\"\n         x=\"139.81216\"\n         y=\"63.381073\">8</tspan></text>\n  </g>\n</svg>\n",
        "clickableShapes": [],
        "javascriptHandlers": [],
        "smilAnimations": [],
        "bindings": [],
        "showCoordinates": false,
        "autoFormatAfterEdit": false,
        "showBrowserErrors": false,
        "showBrowserEvents": false,
        "enableJsDebugging": false,
        "sendMsgWhenLoaded": false,
        "noClickWhenDblClick": false,
        "outputField": "payload",
        "editorUrl": "//drawsvg.org/drawsvg.html",
        "directory": "",
        "panning": "disabled",
        "zooming": "disabled",
        "panOnlyWhenZoomed": false,
        "doubleClickZoomEnabled": false,
        "mouseWheelZoomEnabled": false,
        "dblClickZoomPercentage": 150,
        "cssString": "div.ui-svg svg{\n    color: var(--nr-dashboard-widgetColor);\n    fill: currentColor !important;\n}\ndiv.ui-svg path {\n    fill: inherit;\n}",
        "name": "",
        "x": 1744.9913330078125,
        "y": 641.6425170898438,
        "wires": [
            []
        ]
    },
    {
        "id": "1a86fe1f19572621",
        "type": "serial-port",
        "serialport": "COM28",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "7001b6d20850f9aa",
        "type": "ui_group",
        "name": "live-data",
        "tab": "c69732a48575b974",
        "order": 3,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ce478907f09f5717",
        "type": "ui_group",
        "name": "input",
        "tab": "93e19e4f.b80ed",
        "order": 2,
        "disp": false,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b70dba49099082f2",
        "type": "serial-port",
        "serialport": "COM7",
        "serialbaud": "57600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "3b1926e674a4c183",
        "type": "ui_group",
        "name": "logo-left",
        "tab": "c69732a48575b974",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "bdedd999ace51f8e",
        "type": "ui_group",
        "name": "svg",
        "tab": "c69732a48575b974",
        "order": 2,
        "disp": false,
        "width": "5",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c69732a48575b974",
        "type": "ui_tab",
        "name": "Dynamic Step Live Application App",
        "icon": "dashboard",
        "order": 122,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "93e19e4f.b80ed",
        "type": "ui_tab",
        "name": "SVG",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]